;
; EnergyPredictor CONFIGURATION FILE
;
; --> CHALLENGE TRACE FILE
; CHALLENGE <fileName> <dateFormat>
CHALLENGE /path/to/challenge/file/20180831-solar-power.trace yyyyMMdd'-solar-power.trace'
;
; --> TRACE FILES
; TRACES <path> <extension> <dateFormat>
TRACES /path/to/trace/files/ solar-power.trace yyyyMMdd'-solar-power.trace'
;
; --> LOCATION SETTINGS
; LOCATION <latitude> <longitude> <timeZone>
LOCATION 35.92996 -84.30952 EST
;
; --> PREDICTIONS SETTINGS
; SETTINGS <initialSlot> <finalSlot> <slotStep> <horizon> <horizonStep>
SETTINGS 720 840 30 120 30
;
; --> PREDICTOR MODULE
; Modules: arma|dumb|pro-energy|pro-energy-vlt|ipro-energy|dwcma|udwcma|saa|saa-sine|wep
PREDICTOR dumb
; PREDICTOR saa|saa-sine <seriesDegree>
; PREDICTOR dwcma|udwcma <slotWindow> <numPrevDays>
; PREDICTOR pro-energy|pro-energy-vlt <slotWindow> <numCombinedTraces> <numPrevDays> <alpha> <g>
; PREDICTOR ipro-energy <slotWindow> <numCombinedTraces> <numPrevDays> <alpha>
; PREDICTOR wep <numPrevSlots>
; PREDICTOR arma <arCoef> <maCoef>
